[Desktop Entry]
Name=Install Alpha OS
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=sudo /usr/bin/calamares
Icon=system-software-install
Terminal=False
Type=Application
Categories=System;
